/* Nest Hub Max */
@media screen and (max-width:1280px) {
    
}
/* Nest Hub */
@media screen and (max-width:1024px) {

}
/* Surface Pro 7 */
@media screen and (max-width:912px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    .subp_tag{
        font-size: 25px;
    }
    #hi_intro{
        font-size: 20px;
    }
}
/* For ipad Air */
@media screen and (max-width:820px) {
.about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    .projectImage{
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 6px;
    }
    .subp_tag{
        font-size: 25px;
    }
}
/* For ipad mini */
@media screen and (max-width:768px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    .subp_tag{
        font-size: 20px;
    }
}
/* For surface duo */
@media screen and (max-width:540px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    .subp_tag{
        font-size: 25px;
    }
    
}
/* For iphone 14 proMax */
@media screen and (max-width:430px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    .subp_tag{
        font-size: 20px;
    }
    .footerWriteup{
        font-size: small;
    }
    .paragraph2{
        font-size: 15px;
    }
    
}
/* For iphone XR */
@media screen and (max-width:414px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    .subp_tag{
        font-size: 20px;
    }
    #my_name{
        font-size: 60px;
    }
    .about_me{
        font-size: 10px;
    }
}
/* For Samsung Galaxy S20 Ultra */
@media screen and (max-width:412px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
     .about_me{
        font-size: 15px;
    }
}

@media screen and (max-width:393px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
/* For iphone 12 Pro */
@media screen and (max-width:390px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    .subp_tag{
        font-size: 15px;
    }
    #about_me_Heading{
        font-size: 30px;
    }
    #my_name{
        font-size: 45px;
    }
    .paragraph2{
        font-size: 15px;
    }
    .footerWriteup{
        font-size: 10px;
        float: right;
    }
}
/* For iphone X */
@media screen and (max-width:375px) {
    .about_me{
        font-size: 10px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
         font-size: 15 px;
    }
    .footerWriteup{
        font-size: 10px;
    }
    #about_me_Heading{
        font-size: 20px;
    }
}

/* For Samsung Galaxy S8+ */
@media screen and (max-width:360px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    .subp_tag{
        font-size: 15px;
    }
    .paragraph2{
        font-size: 20px;
    }
    .footerWriteup{
        font-size: 10px;
    }
}
/* For Galaxy Z fold 5 */
@media screen and (max-width:344px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    .subp_tag{
        font-size: 15px;
    }
    .paragraph2{
        font-size: 20px;
    }
    .footerWriteup{
        font-size: 10px;
    }
    .foterImg{
        width: 20px;
        padding-bottom: 5%;
    }
}
/* For iphone 5/SE */
@media screen and (max-width:320px) {
    .about_me{
        font-size: 50px;
    }
    .subp_tag{
        font-size: 15px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    .paragraph2{
        font-size: 20px;
    }
}
@media screen and (max-width:280px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    .subp_tag{
        font-size: 15px;
    }
}



