/* Nest Hub Max */
@media screen and (max-width:1280px) {
    
}
/* Nest Hub */
@media screen and (max-width:1024px) {
    

}
/* Surface Pro 7 */
@media screen and (max-width:912px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
/* For ipad Air */
@media screen and (max-width:820px) {
.about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
/* For ipad mini */
@media screen and (max-width:768px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
/* For surface duo */
@media screen and (max-width:540px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
    
}
/* For iphone 14 proMax */
@media screen and (max-width:430px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
/* For iphone XR */
@media screen and (max-width:414px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
/* For Samsung Galaxy S20 Ultra */
@media screen and (max-width:412px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}

@media screen and (max-width:393px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
/* For iphone 12 Pro */
@media screen and (max-width:390px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
/* For iphone X */
@media screen and (max-width:375px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
/* For Samsung Galaxy S8+ */
@media screen and (max-width:360px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
/* For Galaxy Z fold 5 */
@media screen and (max-width:344px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
/* For iphone 5/SE */
@media screen and (max-width:320px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}
@media screen and (max-width:280px) {
    .about_me{
        font-size: 50px;
    }
    .sec2  {
        max-width: 1000px;
    }
    .paragraph2{
         max-width: 1000px;
    }
}

