*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    text-decoration: none;
   color: white;
  
}
body{
     padding-top: 60px;
     background-color: #0f172A;
}
.navbar{
    background-color: black;
    color: rgb(224, 30, 30);
}


#ball{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transition: transform 0.05s linear;
}

a{
    text-decoration: none;
    /* color: white; */
}
#my_name{
    font-size: 70px;
    color: #e5e7eb;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-top: 15px;
}
.small_img{
    width: 40px;
}
.foterImg{
    width: 30px;
    /* margin: 3px; */
    
}
.paragraph2{
    padding-left: 2rem;
    padding-right: 2rem;
}
h6{
    font-weight:normal;
}
.frontend{
    font-size: 38px;
    color: green;
}
.footeri{
    background-color: rgb(127, 121, 121);
}
.sec2{
    background-color: #191a2d;
}
.ResumeL{
    border: none;
    font-size: 20px;
    background-color: #14b8a6;
    color: #0f172a;
}
.second_div{
    margin-top: 20%;
}

#stickysocial{
    position: fixed;
    right: 1%;
    bottom: 10%;
}
#stickysocial_container{
    position: relative;
}
.foterImg1{
    width: 60px;
    border-radius: 40%;
}
#download2{
    width: 20px;
}
.sec2_innerdiv{
    margin: auto;
}
.art2{
    margin: auto;
}
.Benjaminlogo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#devtools{
    border-radius: 50%;
}
.about_me{
    color: gray;
}
#frontend_paragraph::after{
    content: "|";
    animation: blink 1s infinite;
}
@keyframes blink{
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0; }
}
#typeText{
    font-size: 10px;
    color: #9ca3af;
    line-height: 1.5;
    font-weight: 500;
    line-height: 1.4;
}
#hi_intro{
    color: #9ca3af;
    font-weight: 400;
    font-size: small;
}
.subp_tag{
    color: #6b7280;
    font-weight: 200;
    line-height: 1.7;
    padding-top: 20px;
}
.nav_icon{
    color: red;
}
.navicon:hover{
    background-color: #14b8a6;
}

/* GOOGLE FONTS HERE */
body{
    font-family: 'Poppins', sans-serif;
}

#benie{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.getintouch{
    width: 500px
}
