*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    text-decoration: none;
   color: white;
  
}
body{
     padding-top: 60px;
}
.navbar{
    background-color: black;
    color: rgb(224, 30, 30);
}


#ball{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transition: transform 0.05s linear;
}

a{
    text-decoration: none;
    /* color: white; */
}
#my_name{
    font-size: 80px;
}
.small_img{
    width: 40px;
}
.foterImg{
    width: 30px;
    /* margin: 3px; */
    
}
.paragraph2{
    padding-left: 15rem;
    padding-right: 15rem;
}
h6{
    font-weight:normal;
}
.frontend{
    font-size: 38px;
    color: green;
}
.footeri{
    background-color: rgb(62, 60, 60);
}
.sec2{
    background-color: black;
}
.ResumeL{
    border: 1px solid yellow;
    font-size: 20px;
}
.second_div{
    margin-top: 20%;
}
.techStackDiv{
    padding-left: 25%;
}
#stickysocial{
    position: fixed;
    right: 5%;
    bottom: 10%;
}
#stickysocial_container{
    position: relative;
}
.foterImg1{
    width: 60px;
    border-radius: 40%;
}